@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

/* --- == ===  G L O B A L E S  === == --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --whitecolor:#ffffff  ;
  --headfootcolor: #000000;
  --bgcolor: #eff2ff;
  --darkgreen:  #128b28;
  --lightblue: #749be7;
  --namecolor: #ff3d00;
  --starcolor: #f1c40f;
  --iconcolor: #e92f3d;
  --blackcolor: #000000;
  --btncolor: #ff6804;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #eff2ff;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: var(--darkgreen);
  font-weight: 600;
}

.container {
  width: 80%;
  margin: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

/* --- == ===  S E C C I O N   I N I C I O  === == --- */
.header {
  grid-area: header;
  background-color: var(--headfootcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: var(--whitecolor);
  padding: 25px;
  font-size: 20px;
  font-weight: 600;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--whitecolor);
}

.logo a {
  list-style: none;
  text-decoration: none;
  color: #128b28;
  margin-left: 30px;
  letter-spacing: 1.2px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.hero {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bgphotomemory2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--whitecolor);
}

.hero div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: clamp(40px, 6vw, 80px);
  letter-spacing: 3px;
  padding: 20px;
}

.hero p {
  padding: 10px;
  font-family:sans-serif;
  font-size:x-large;
  letter-spacing: 2px;
  color:rgb(209, 205, 205);
}

/* == ===  S E C C I O N   M A I N   I N D E X  === == */
.main {
  grid-area: main;
}

.services-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.service {
  background-color: var(--whitecolor);
  padding: 2rem 1rem;
  box-sizing: 2px #00000056;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
}

iframe{margin-left: 350px;
  margin-top: 80px;

}

.service .fa-solid {
  font-size: 35px;
  color: #128b28;
  margin-bottom: 10px;
}

.service h3 {
  margin: 12px 0;
  color:#128b28;
  font-weight: 600;
  text-align: center;
}

.service p {
  color:rgb(79, 77, 77);
}


.testimonial-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--whitecolor);
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
  z-index: 99;
}

.testimonial-info {
  background-color: var(--whitecolor);
  padding: 5.5rem 2rem 2rem 2rem;
  margin-top: -4rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.testimonials {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.testimonial-info p {
  color: var(--darkgreen);
  font-style: italic;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonial-info h4 {
  color: var(--namecolor);
  line-height: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonial-rating {
  text-align: center;
  color: var(--starcolor);
}

/* --- == ===  S E C C I O N   M A I N   N O S O T R O S  === == --- */
.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 550px;
  width: 290px;
  margin: 20px;
  box-shadow: 0 3px 5px var(--blackcolor);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.card .bg-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card .pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid var(--bgcolor);
  margin-top: -90px;
  position: relative;
}

.card .info h3 {
  color: var(--iconcolor);
  padding: 10px 0;
}

.card .info p {
  font-size: 15px;
  padding: 10px 20px;
  color: var(--lightblue);
}

.card .info .icons a {
  font-size: 20px;
  text-decoration: none;
  color: var(--iconcolor);
  margin-top: 20px;
  padding: 0 5px;
  transition: all 0.5s;
}

.card .info .icons a:hover {
  color: var(--iconcolor);
  transform: scale(2);
}

/* --- == ===  S E C C I O N   F O O T E R  === == --- */
.footer {
  grid-area: footer;
  background-color: var(--headfootcolor);
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  text-decoration: none;
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 500;
}

.footerSection {
  width: 100%;
}

.tituloSection {
  padding: 50px 0;
  color: var(--darkgreen);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.socialMedia a i {
  color: var(--whitecolor);
  font-size: 35px;
  padding: 18px;
}


